---
import HeaderLink from "./HeaderLink.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../config"
---

<header>
	<p class='h1'>
		<strong>{SITE_TITLE}</strong>
	</p>
	<p><em>{SITE_DESCRIPTION}</em></p>
	<nav>
		<HeaderLink href='/'>Home</HeaderLink>
	</nav>
</header>
<style>
	.h1 {
		font-size: 2.5em;
		margin-bottom: 0;
	}
</style>
