---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../config"
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class='layout'>
			<Header title={SITE_TITLE} />
			<main>
				<slot />
			</main>
		</div>
		<Footer />
		<style>
			.highlight {
				background-color: gold;
				display: inline-block;
				font-weight: bold;
				color: black;
			}
			/* html {
    filter: invert(100%);
}

html img {
    filter: invert(100%);
} */
			body {
				font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
					Roboto, "Helvetica Neue", Arial, sans-serif;
				margin: 0;
				padding: 0;
				line-height: 1.5;
				background: whitesmoke;
			}

			.layout {
				max-width: 1140px;
				margin: 0 auto;
				padding-left: 20px;
				padding-right: 20px;
			}

			.header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
				height: 80px;
			}
		</style>
	</body>
</html>
